.popbox {
    display: none;
    position: fixed;
    z-index: 99999;
    height: 200px;
    width: 300px;
    background: #DDDDDD;
    color: #579EED;
    border: 1px solid #4D4F53;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
.popbox h2 {
    background-color: #494647;
    color: #579EED;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
}